$width1 : 1097px;
$height1: 617px;

html{
  background: #333;
}
#container{
  background: white;
  font-family: 'Lucida', sans-serif;
  height: $height1;
  margin: 1em auto;
  overflow-y:scroll;
  position:relative;
  width: $width1;
  z-index: 1;
}
#header {
  border-bottom: 2px solid #ccc;
  text-align: center;
  width: 100%;
}
#label{
  border-bottom: 8px solid #C2171D;
  font-size: 20px;
  font-weight: bold;
  line-height: 28px;
  margin: 64px 520px 0;
  width: 180px;
}

#menu{
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 180px;

  ul{
    background: #fff;
    box-shadow: 2px 2px 3px 4px #333;
    margin: 0;
    padding:0;
}
  .channel{
    background: #000;
    border-bottom: 1px solid #333;
    color: #fff;
    dislay:block;
    font-size: .8em;
    list-style-type: none;
    padding: 1em;
    position:relative;
  }
}
.tab{
  position:absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 6px;
  background: #ccc;
}

#menu li#menuTop, #menu li#browse{
  background: #C2171D;
  border-right: none;
  color: #fff;
  display:block;
  height: 110px;
  padding: 1em;
}
#menu li#browse{
  height: 40px;
}
#menu li:hover{
  cursor: pointer;
}
#shell{
  padding: 1em;
  width: 830px;
  margin-left: 180px;

}
.vid {
  cursor: pointer;
  height: 180px;
  display: inline-block;
  font-size: .8em;
  text-align: center;
  width: 160px;
  vertical-align: top;
  margin-bottom: 1em;

  .title {
    display: block;
  }
}
#playerSkin {
  background: #000;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  width: 0;

  text-align: center;
  z-index: 5;
}
#close{
  position:absolute;
  color: #fff;
  font-weight: bold;
  z-index: 6;
  top: 10px;
  text-align: center;
  left: 500px;
}

#ytplayer{
  margin-top: 60px;
}
