<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="src/style.css"/>
</head>
<body>
<div id="container">
    <div id="header">
        <div id="label">Popular</div>
    </div>

<div id="menu">
    <ul>
        <li id="menuTop">
            <div>You Tube</div>

        </li>

        <li class="channel">
            <strong>Best of You Tube</strong>
        </li>
        <li class="channel" data-id="0">
            Popular
            <div class="tab"></div>
        </li>
        <li class="channel" data-id="10">Music
            <div class="tab"></div>
        </li>
        <li class="channel" data-id="17">Sports
            <div class="tab"></div>
        </li>
        <li class="channel" data-id="20">Gaming
            <div class="tab"></div>
        </li>
        <li class="channel" data-id="27">Education
            <div class="tab"></div>
        </li>
        <li class="channel" data-id="30">Movies
            <div class="tab"></div>
        </li>
        <!--<li class="channel">TV - need id-->
            <!--<div class="tab"></div>-->
        <!--</li>-->
        <li class="channel" data-id="25">News
            <div class="tab"></div>
        </li>
        <!--<li class="channel">SPOTLIGHT -need id-->
            <!--<div class="tab"></div>-->
        <!--</li>-->
        <li id="browse"></li>
    </ul>
</div>

<div id="shell"></div>
   <div id="playerSkin">
       <div id="close">- close -</div>
        <div id="ytplayer"></div>
        <div id="controls">
            <ul>
                <li id="play">play</li>
                <li id="pause">pause</li>
                <li id="stop">stop</li>
            </ul>
        </div>
   </div>
</div><!-- end container -->

<script type="text/javascript" src="src/jquery.min.js"></script>
<script type="text/javascript" src="src/underscore.min.js"></script>
<script type="text/javascript" src="src/swfobject.js"></script>
<script id="gapi" src="https://apis.google.com/js/client.js"></script>

<script type="text/javascript" src="src/main.min.js"></script>
<script>
    var params = {allowScriptAccess:'always'},
        attrs = { id : 'ytplayer'};

    swfobject.embedSWF(
        "http://www.youtube.com/v/mOSpRzW2i_4?enablejsapi=1&version=3&playerapiid=ytplayer",
        "ytplayer", "853", "480", "8", null, null, params, attrs
    );

    function onYouTubePlayerReady(playerId) {
        var $player = document.getElementById(playerId);
        jht.player.init( $player );
        jht.initModule( $('#shell') );
    };
</script>

<script type="text/template" id="vidGrid">
    <% _.each(items, function(item){ %>
        <div class="vid" data-id="<%= item.id %>">
          <img src="<%= item.snippet.thumbnails.default.url %>" width="<% item.snippet.thumbnails.default.width %>" />
            <div class="title"><%= $.trim(item.snippet.title) %></div>
            <div class="date"><%= $.trim(item.snippet.pretty_date) %></div>
            <div class="duration"><%= $.trim(item.contentDetails.runtime) %></div>
        </div>
   <% }) %>
</script>

</body>
</html>