body{
    font-family: 'Lucida', sans-serif;
    margin: 1em auto;
    width: 800px;
}
#menu ul{
    float: left;
    width: 20%;
}
#menu li{
    cursor:pointer;
    list-style-type:none;
    padding: 1em;
    margin: 1em;
    background: yellow;
}
.vid{
    height: 200px;
    float: left;
    font-size: .8em;
    text-align: center;
    width: 150px;
}
.vid .title{
    display:block;
}


#shell{

}
#playerControls{
    margin-bottom: 5em;
}
#playerControls li{
    border: 1px solid blue;
    display:block;
    float:left;
    margin-right: 1em;
    padding: 1em;
}
